<div [dragula]="'shuffle-bag'" [dragulaModel]='slider.slides' fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
  <app-slide-card fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33" fxFlex.xl="33"
    *ngFor="let slide of currentPresentationSlides$ | async; let i=index"
    [slide]="slide"
    [slideIndex]="i+1"
    (saveSlide)="save($event)"
    (deleteSlide)="delete($event)">
  </app-slide-card>
</div>
<div class="base " fxLayout="row" fxLayoutAlign="center center">
  <a mat-fab (click)="add()" matTooltip="add a new slide" >
    <mat-icon svgIcon="content:ic_add_24px"></mat-icon>
  </a>
</div>
